<launch>
  <arg name="cam_config" default="$(find stargazer_ros_tool)/param/cam.yaml"/>
  <arg name="map_config" default="$(find stargazer_ros_tool)/param/map.yaml"/>

  <!--Rosbag-->
  <include file="$(find stargazer_ros)/launch/rosbag_play.launch"/>

  <!--Stargazer Pipeline-->
  <include file="$(find stargazer_ros)/launch/stargazer_nodelets.launch" ns="stargazer">
    <arg name="cam_config" value="$(arg cam_config)"/>
    <arg name="map_config" value="$(arg map_config)"/>
  </include>

  <!--Visualizer-->
  <include file="$(find stargazer_ros)/launch/landmark_visualizer.launch">
    <arg name="map_config" value="$(arg map_config)"/>
    <arg name="start_rviz" value="true"/>
  </include>

</launch>